<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark elegant-color-dark">

  <!-- Navbar brand -->
  <logo>
    <a class="navbar-brand" [routerLink]="['/']">
      <i class="fa fa-car"></i>
      Vehiculum
    </a>
  </logo>

  <links>

    <ul class="navbar-nav mr-auto">
    </ul>

    <ul class="navbar-nav mr-right">
      <li class="nav-item">
        <a class="nav-link waves-light" [routerLink]="['/login']" *ngIf="!user" mdbRippleRadius>
          <i class="fa fa-sign-in fa-1x"></i>
          Login
        </a>
      </li>

      <li class="nav-item" *ngIf="user">
        <a class="nav-link waves-light" mdbRippleRadius>

          {{ user?.fullName }}

          <i class="fa fa-user-circle fa-1x"></i>
        </a>
      </li>

      <li class="nav-item" *ngIf="user">
        <a class="nav-link waves-light" mdbRippleRadius (click)="signOutUser()">Logout</a>
      </li>

    </ul>
  </links>
</mdb-navbar>
