<ng-container *ngIf="(authService.user | async) || {} as user">

  <div class="card mt-3">
    <div class="card-header elegant-color white-text">
        <p class="h5 text-center mb-3 mt-3"><i class="fa fa-user-circle fa-1x"></i>&nbsp;Signup</p>
    </div>

    <div class="card-body">
      <form [formGroup]="signUpForm" *ngIf="!user.uid" (ngSubmit)="signUp()">

        <div class="row">
          <div class="col-md-6">

            <div class="md-form">
              <!-- <i class="fa fa-envelope prefix grey-text"></i> -->
              <input type="text" id="user-fname" class="form-control" formControlName="firstName" mdbActive>
              <label for="user-fname">Your first name</label>
            </div>

          </div>

          <div class="col-md-6">

            <div class="md-form">
              <!-- <i class="fa fa-lock prefix grey-text"></i> -->
              <input type="text" id="user-lname" class="form-control" formControlName="lastName" mdbActive>
              <label for="user-lname">Your last name</label>
            </div>

          </div>

        </div>

        <div class="md-form">
          <i class="fa fa-envelope prefix grey-text"></i>
          <input type="text" id="defaultForm-email" class="form-control" formControlName="email" mdbActive>
          <label for="defaultForm-email">Your email</label>

          <div *ngIf="email.invalid">
            <div *ngIf="email.touched && email.dirty" class="alert alert-danger">
              Invalid Email address..
            </div>
          </div>
        </div>

        <div class="md-form">
          <i class="fa fa-lock prefix grey-text"></i>
          <input type="password" id="defaultForm-pass" class="form-control" formControlName="password" mdbActive>
          <label for="defaultForm-pass">Your password</label>

          <div *ngIf="password.invalid && password.touched">
            <div class="alert alert-danger">
              Password must be between 6 and 24 chars and have at least one number
            </div>
          </div>

        </div>

        <div *ngIf="signUpForm.valid">
          <div class="alert alert-success">This form looks good! Almost there.</div>
        </div>

        <button type="submit" class="btn elegant-color" [disabled]="!signUpForm.valid">Submit</button>
      </form>
    </div>
  </div>

</ng-container>
