<h2>Add Vehicle</h2>

<div *ngIf="done" class="alert alert-success">
  <p>Successfully Added</p>
</div>
<form [formGroup]="vehicleForm" class="form-container" (ngSubmit)="submitVehicle()">

  <div class="form-group">
    <label for="make">Make: </label>
    <input type="text" id="make" formControlName="make" class="form-control" placeholder="Vehicle Make">
  </div>

  <div class="form-group">
    <label for="model">Model: </label>
    <input type="text" id="model" formControlName="model" class="form-control" placeholder="Vehicle Model">
  </div>

  <div class="form-group">
    <label for="caption">Caption:</label>
    <textarea class="form-control" formControlName="caption" id="caption" rows="3"></textarea>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <label for="price">Price: </label>
        <input type="number" id="price" formControlName="price" class="form-control" placeholder="Vehicle Price" min="0">
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <label for="speed">Speed: (Killometer)</label>
        <input type="number" id="speed" formControlName="speed" class="form-control" placeholder="Vehicle Speed" min="0">
      </div>
    </div>
  </div>

  <div class="form-group">
    <input type="text" formControlName="imgUrl" class="form-control" placeholder="Image URL">
  </div>

  <div class="form-check">
    <label for="isRegistered">
      <input type="checkbox" formControlName="isregistered" class="form-check-input" id="isRegistered"> Registered?
    </label>
  </div>
  <button type="submit" class="btn btn-outline-primary">Submit</button>
</form>
