<div class="card card-cascade wider reverse my-4">

  <div *ngIf="!vehicle; else loaded" class="loader-container">
    <div class="loader"></div>
  </div>

  <ng-template #loaded>
    <div class="view overlay hm-white-slight waves-light" mdbRippleRadius>
      <img [src]="vehicle?.imgUrl" class="img-fluid" width="100%">
      <a>
        <div class="mask"></div>
      </a>
    </div>

    <div class="card-body">
      <h5 class="card-title">{{ vehicle?.make }}, {{ vehicle?.model }}</h5>
      <p class="card-text">
        {{ vehicle?.caption }}
      </p>

      <ul class="list-group list-group-flush">
        <li class="list-group-item">Make: {{ vehicle?.make }} </li>
        <li class="list-group-item">Model: {{ vehicle?.model }} </li>
        <li class="list-group-item">Price: {{ vehicle?.price | currency:'PHP':'symbol-narrow':'1.2-2' }}</li>
        <li class="list-group-item">Speed: {{ vehicle?.speed | number:'1.0' }} km</li>
        <li class="list-group-item">Registered : {{ vehicle?.isregistered ? 'Yes' : 'No' }}</li>
      </ul>

      <div class="card-body">
        <button type="button" class="btn btn-outline-primary waves-light" *ngIf="vehicle?.user.uid !== currentUser?.uid">Call Seller</button>
        <button type="button" class="btn btn-danger" *ngIf="vehicle?.user.uid === currentUser?.uid" (click)="deleteVehicle()">Delete</button>
        <button type="button" class="btn btn-info" *ngIf="vehicle?.user.uid === currentUser?.uid">Mark as sold</button>
      </div>

      <p class="card-text">
        <small class="text-muted">{{ vehicle?.dateadded | date:'medium'}}</small>
      </p>
    </div>
  </ng-template>
</div>


