<div class="header">
  <h2>List of Available Vehicles</h2>
  <button type="button" class="btn btn-add" (click)="navigate()">Add Vehicle</button>
</div>

<div class="card-columns">
  <div class="card" *ngFor="let vehicle of vehicles">
    <img class="card-img-top" [src]="vehicle.imgUrl" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{ vehicle.make }}, {{ vehicle.model }}</h5>
      <p class="card-text"> {{ vehicle.caption }} </p>

      <ul class="list-group list-group-flush">
        <li class="list-group-item">Make: {{ vehicle.make }} </li>
        <li class="list-group-item">Model: {{ vehicle.model }} </li>
        <li class="list-group-item">Price: {{ vehicle.price | currency:'PHP':'symbol-narrow':'1.2-2' }}</li>
        <li class="list-group-item">Speed: {{ vehicle.speed | number:'1.0' }} km</li>
        <li class="list-group-item">Registered : {{ vehicle.isRegistered }}</li>
      </ul>

      <div class="card-body">
        <a href="#" class="card-link">Call Seller</a>
        <a [routerLink]="['/vehicles/view/'+vehicle.id]" class="card-link">View</a>
      </div>

      <p class="card-text">
        <small class="text-muted">{{ vehicle.dateadded | date:'medium'}}</small>
      </p>
    </div>
  </div>
</div>
